#sidebar {
  width: 280px;
  top: 0;
  bottom: 0;
  height: 900px;
  background: black;
  color: white}

#main{
  //width: 280px;
  top: 0;
  bottom: 0;
  height: 900px;
  background:#d3e0e9;
  color: black}

#top {
  background: black;
  color: white}
